* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: #0d192b;
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 100vh;
}

body main div.card {
  background-color: #14253d;
  width: 350px;
  border-radius: 10px;
  padding: 1.5rem;
  -webkit-box-shadow: 0px 0px 30px #040e1d85;
          box-shadow: 0px 0px 30px #040e1d85;
  position: relative;
}

body main div.card div.nft {
  width: 100%;
  margin: auto;
}

body main div.card div.nft:after {
  content: '';
  position: absolute;
  width: 302px;
  height: 302px;
  background-color: cyan;
  top: 23px;
  left: 23px;
  border-radius: 10px;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

body main div.card div.nft :nth-child(1) {
  width: 100%;
  border-radius: 10px;
}

body main div.card div.nft :nth-child(2) {
  width: 15%;
  position: absolute;
  top: 150px;
  left: 150px;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
  z-index: 3;
}

body main div.card div.nft:hover {
  cursor: pointer;
}

body main div.card div.nft:hover:after {
  opacity: 0.5;
}

body main div.card div.nft:hover :nth-child(1) {
  background-color: cyan;
}

body main div.card div.nft:hover :nth-child(2) {
  opacity: 1;
}

body main div.card div.icon-view {
  position: absolute;
  top: 150px;
  left: 150px;
}

body main div.card div.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

body main div.card div.text h3, body main div.card div.text p {
  color: white;
}

body main div.card div.text h3 {
  margin: 1rem 0;
  font-weight: 600;
  margin-bottom: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body main div.card div.text h3:hover, body main div.card div.text h3 :active, body main div.card div.text h3 :focus {
  color: Cyan;
  cursor: pointer;
}

body main div.card div.text p.description {
  font-size: 18px;
  font-weight: 300;
  color: #8bacda;
  line-height: 1.5;
}

body main div.card div.text div.time p, body main div.card div.text div.eth p {
  display: inline-block;
  font-weight: 300;
  font-size: 1rem;
  margin-left: 0.3rem;
}

body main div.card div.text div.time p:not(.days), body main div.card div.text div.eth p:not(.days) {
  font-weight: 400;
}

body main div.card div.text div.time img, body main div.card div.text div.eth img {
  vertical-align: bottom;
}

body main div.card div.text div.eth p {
  color: #00fff7;
}

body main div.card div.text div.time p {
  color: #8bacda;
}

body main div.card div.text div.credits {
  width: 100%;
  padding-top: 1rem;
  border-top: 1px solid #2f415b;
}

body main div.card div.text div.credits img {
  width: 30px;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid white;
}

body main div.card div.text div.credits p {
  font-weight: 400;
  color: #8bacda;
  display: inline-block;
  margin-left: 0.8rem;
}

body main div.card div.text div.credits p span {
  color: white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

body main div.card div.text div.credits p span:hover, body main div.card div.text div.credits p span :active, body main div.card div.text div.credits p span :focus {
  color: Cyan;
  cursor: pointer;
}

body footer p {
  font-size: 11px;
  text-align: center;
  color: white;
  display: inline-block;
}

body footer p a {
  color: #3e52a3;
}
/*# sourceMappingURL=styles-nft.css.map */